.profile__edit-button {
width: 1.5rem;
height: 1.5rem;
background-image: url('../../../images/pen.svg');
margin-top: 2.45rem;
background-repeat: no-repeat;
background-position: center center;
border: solid 1px #ffffff;
box-sizing: border-box;
background-color: #000000;
position: absolute;
right: 0px;
top: 0px;
}


.profile__edit-button:hover {
  opacity: .8;
  cursor: pointer;
  transition: opacity .5s;
}

@media screen and (max-width: 1023.9px) {
  .profile__edit-button {
margin-left: 1.125rem;
position: absolute;
right: -38px;
top: 0px;
  }
}

@media screen and (max-width: 767.9px) {
  .profile__edit-button {
    width: 1.125rem;
    height: 1.125rem;
    right: -28px;
    top: -8px;
  }
}