.profile__title-wrapper {
  width: 21rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023.9px) {
  .profile__title-wrapper {
    width: max-content;
    margin: 0 auto;
    position: relative;
 }
}

@media screen and (max-width: 767.9px) {
  .profile__title-wrapper {
    width: max-content;
    margin: 0 auto;
    position: relative;
 }
}