.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  padding-top: 1.4rem;
  margin: 0;
  display: block;
  max-width: 18.375rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  }

@media screen and (max-width: 767.9px) {
  .profile__title {
    max-width: 11.8125rem;
    font-size: 27px;
    line-height: 33px;
    margin: 0 auto;
  }
}