.profile__edit-button {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../../../images/pen.svg');
  margin: 2.3rem 0 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: 10px 10px;
  border: solid 1px #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity .5s;
}


.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 1023.9px) {
  .profile__edit-button {
    margin-left: 1.125rem;
  }
}

@media screen and (max-width: 767.9px) {
  .profile__edit-button {
    width: 1.125rem;
    height: 1.125rem;
    margin: 2rem 0 0 0;
    background-size: 7.5px 7.5px;
  }
}