.element__image-title {
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
  margin: 0 0 0 1.3125rem;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
